In [2]:
import pandas as pd 
import numpy as np 

import regex as re

In [3]:
users_list = ['UserID','Gender','Age','Occupation','Zip-code']
rating_list = ['UserID','MovieID','Rating','Timestamp']
movies_list = ['MovieID','Title','Genres']
movies_df = pd.read_csv('../artifacts/movies.dat',header = None, sep='::', engine='python' , encoding='latin')
ratings_df = pd.read_table('../artifacts/ratings.dat',header = None  , sep = '::' , engine = 'python' , encoding = 'latin')
users_df =  pd.read_table('../artifacts/users.dat' ,header = None , sep = '::' , engine = 'python' , encoding = 'latin')
movie_overview_df = pd.read_csv('../artifacts/movie-overview.csv')

In [4]:
movies_df.columns = movies_list
ratings_df.columns = rating_list 
users_df.columns = users_list

In [5]:

movie_overview_df = movie_overview_df.drop('Unnamed: 0' ,axis = 1)
movie_overview_df.rename(columns = {'movie_name' :'Title'} , inplace = True)

In [6]:
movies_df.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [7]:
movies_df['Title'] = movies_df['Title'].apply(lambda x : re.findall('(.+)\s' , x)[0])

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\shavi\AppData\Local\Temp\ipykernel_22492\945963216.py:1: SyntaxWarning: invalid escape sequence '\s'
  movies_df['Title'] = movies_df['Title'].apply(lambda x : re.findall('(.+)\s' , x)[0])

In [8]:
movies_df['Genres'] = movies_df['Genres'].apply(lambda x:x.split('|'))

In [9]:
movies_df.head()

   MovieID                        Title                            Genres
0        1                    Toy Story   [Animation, Children's, Comedy]
1        2                      Jumanji  [Adventure, Children's, Fantasy]
2        3             Grumpier Old Men                 [Comedy, Romance]
3        4            Waiting to Exhale                   [Comedy, Drama]
4        5  Father of the Bride Part II                          [Comedy]

In [10]:
ratings_df.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [11]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   UserID     1000209 non-null  int64
 1   MovieID    1000209 non-null  int64
 2   Rating     1000209 non-null  int64
 3   Timestamp  1000209 non-null  int64
dtypes: int64(4)
memory usage: 30.5 MB

In [12]:
users_df.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [13]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   UserID      6040 non-null   int64
 1   Gender      6040 non-null   object
 2   Age         6040 non-null   int64
 3   Occupation  6040 non-null   int64
 4   Zip-code    6040 non-null   object
dtypes: int64(3), object(2)
memory usage: 236.1+ KB

In [14]:
users_df['Gender'] = users_df['Gender'].map({'M' : 0 , 'F' : 1})

In [15]:
movies_df = pd.merge(movies_df , movie_overview_df , on = 'Title' , how = 'left')

In [16]:
movies_df.to_csv('../artifacts/cleaned_dfs/movies_cleaned_df.csv')
ratings_df.to_csv('../artifacts/cleaned_dfs/ratings_cleaned_df.csv')
users_df.to_csv('../artifacts/cleaned_dfs/users_df_cleaned_df.csv')
movie_overview_df.to_csv('../artifacts/cleaned_dfs/overview_df_cleaned_df.csv')